body {
    background-color: white;
  }
  @font-face {
    font-family: Roboto; /* CAN BE ANYTHING YOU WANT */
    src: url('Roboto-Regular.ttf');
  }
  #header {
    height: 779px;
    width: 1680px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(../images/background.png);

  }
  #navbar {
    height: 115px;
    width: 1503px;
    left: 88px;
    top: 64px;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px 0px #0202021A;
    position: absolute;

    left: 5.24%;
    right: 5.3%;
    top: 8.22%;
    bottom: 77.02%;

    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
    border-radius: 2px;

  }
  #logo {
    height: 75px;
    width: 155px;
    left: 142px;
    top: 84px;
    border-radius: 0px;

    position: absolute;
    left: 8.45%;
    right: 82.32%;
    top: 10.78%;
    bottom: 79.59%;

    background: url(../images/LOGO.png);
  }
  #engagement {
    height: 21px;
    width: 153px;
    /* left: 614px; */
    /* top: 83px; */
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;

    position: absolute;
    left: 32.85%;
    right: 54.35%;
    top: 10.65%;
    bottom: 86.65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */

    letter-spacing: -0.015em;

    color: #4E4E4E;

  }
  #truc {
    height: 7.003618240356445px;
    width: 14.024502754211426px;
    left: 767px;
    top: 91px;
    border-radius: 0px;
    position: absolute;
    left: 43.35%;
    right: 53.51%;
    top: 17.68%;
    bottom: 87.42%;

    background: #4E4E4E;
    background: url(../figures/Vector.png);
  }
  #parents {
    height: 21px;
    width: 77px;
    /* left: 827px; */
    /* top: 83px; */
    border-radius: nullpx;

    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;

    position: absolute;
    left: 47.73%;
    right: 46.19%;
    top: 10.65%;
    bottom: 86.65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */

    letter-spacing: -0.015em;

    color: #4E4E4E;
  }
  #truc2 {
    height: 7.003618240356445px;
    width: 14.024502754211426px;
    left: 904px;
    top: 91px;
    border-radius: 0px;

    position: absolute;
    left: 52.91%;
    right: 45.36%;
    top: 17.68%;
    bottom: 87.42%;

    background: #4E4E4E;
    background: url(../figures/Vector.png);
  }
  #pro {
    height: 21px;
    width: 139px;
    /* left: 964px; */
    /* top: 83px; */
    border-radius: nullpx;

    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;

    position: absolute;
    left: 57.28%;
    right: 34.35%;
    top: 10.65%;
    bottom: 86.65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */

    letter-spacing: -0.015em;

    color: #4E4E4E;
  }
  #truc3 {
    height: 7.003618240356445px;
    width: 14.024502754211426px;
    left: 1108px;
    top: 91px;
    border-radius: 0px;

    position: absolute;
    left: 66.95%;
    right: 33.21%;
    top: 17.68%;
    bottom: 87.42%;

    background: #4E4E4E;
    background: url(../figures/Vector.png);
  }
  #blog {
    height: 21px;
    width: 45px;
    /* left: 1168px; */
    /* top: 83px; */
    border-radius: nullpx;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;

    position: absolute;
    left: 71.12%;
    right: 27.8%;
    top: 10.65%;
    bottom: 86.65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    letter-spacing: -0.015em;

    color: #4E4E4E;
  }

  #contact {
    height: 21px;
    width: 192px;
    /* left: 1258px; */
    /* top: 83px; */
    border-radius: nullpx;

    position: absolute;
    left: 77.28%;
    right: 16.07%;
    top: 10.65%;
    bottom: 86.65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    letter-spacing: -0.015em;

    color: #4E4E4E;
  }

  #boutique {
    height: 21px;
    width: 86px;
    /* left: 1455px; */
    /* top: 83px; */
    border-radius: nullpx;
    
    position: absolute;
    left: 90.61%;
    right: 8.27%;
    top: 10.65%;
    bottom: 86.65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    letter-spacing: -0.015em;

    color: #4E4E4E;
  }

  #twi {
    height: 30px;
    width: 30px;
    left: 1412px;
    top: 130px;
    border-radius: 0px;

    position: absolute;
    left: 89.05%;
    right: 14.17%;
    top: 56.69%;
    bottom: 79.46%;

    /* 1 */

    background: #2871B7;
    background: url(../icones/twi.png);
  }

  #insta {
    height: 30px;
    width: 30px;
    left: 1460px;
    top: 130px;
    border-radius: 0px;

    position: absolute;
    left: 91.9%;
    right: 11.31%;
    top: 56.69%;
    bottom: 79.46%;

    /* 1 */

    background: #2871B7;
    background: url(../icones/insta.png);
  }

  #fcb {
    height: 30px;
    width: 30px;
    left: 1508px;
    top: 130px;
    border-radius: 0px;

    position: absolute;
    left: 94.76%;
    right: 8.45%;
    top: 56.69%;
    bottom: 79.46%;
    background: #2871B7;
    background: url(../icones/fcb.png);
  }

  h1 {
    height: 170px;
    width: 353px;
    left: 138px;
    top: 305px;
    border-radius: nullpx;

    position: absolute;
    left: 8.21%;
    right: 5.3%;
    /* top: 39.15%; */
    bottom: 39.02%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    /* or 116% */

    letter-spacing: -0.015em;

    /* 1 */

    color: #2871B7;

  }
  #accomp {
    height: 83px;
    width: 601px;
    left: 138px;
    top: 480px;
    border-radius: nullpx;

    position: absolute;
    left: 8.21%;
    right: 51.85%;
    /* top: 61.62%; */
    bottom: 27.73%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    /* or 148% */

    letter-spacing: -0.015em;

    color: #292929;
  }

  #decouv {
    height: 49px;
    width: 302px;
    left: 0px;
    top: 640px;
    border-radius: 5px;

    position: absolute;
    left: 8.21%;
    right: 51.85%;
    bottom: 27.73%;

    background: #CD5A83;
    border-radius: 5px;
  }
  #textedecouv {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 22.45%;
    bottom: 28.57%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    height: 24px;
    width: 302px;
    left: 0px;
    top: -5px;
    border-radius: nullpx;
  }
  #carre1 {
    height: 15px;
    width: 15px;
    left: 800px;
    top: 734px;
    border-radius: 2px;

    position: absolute;
    left: 47.62%;
    right: 51.49%;
    top: 94.22%;
    bottom: 3.85%;

    background: #2871B7;
    opacity: 0.35;
    border-radius: 2px;
  }
  #carre2 {
    height: 15px;
    width: 15px;
    left: 833px;
    top: 734px;
    border-radius: 2px;

    position: absolute;
    left: 49.58%;
    right: 49.52%;
    top: 94.22%;
    bottom: 3.85%;

    background: #2871B7;
    opacity: 0.35;
    border-radius: 2px;
  }
  #carre3 {
    height: 15px;
    width: 15px;
    left: 866px;
    top: 734px;
    border-radius: 2px;

    position: absolute;
    left: 51.55%;
    right: 47.56%;
    top: 94.22%;
    bottom: 3.85%;

    background: #2871B7;
    opacity: 0.35;
    border-radius: 2px;
  }
  #page {
    height: 711.0150146484375px;
    width: 1680px;
    left: 0px;
    top: 3300px;
    border-radius: 0px;

    position: absolute;
    width: 1680px;
    height: 711.02px;
    left: 0px;
    top: 3300px;
  }
  #image1 {
    position: absolute;
    width: 546px;
    height: 475px;
    left: 142px;
    top: 1600px;

    background: url(rectangles/Rectangle137.png);
    border-radius: 2px;
  }
  #footer {
    height: 711.0150146484375px;
    width: 1680px;
    left: 0px;
    top: 3300px;
    border-radius: 0px;
    
    position: absolute;
    height: 711.02px;
  }
  #footer-part {
    height: 676px;
    width: 1680px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #D8F2FF;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 4.92%;
  }
  #texte-engage {
    position: absolute;
    left: 6.74%;
    right: 73.89%;
    top: 13.37%;
    bottom: 83.52%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #ligne {
    position: absolute;
    left: 6.81%;
    right: 73.89%;
    top: 18.81%;
    bottom: 81.02%;

    background: #333333;
  }
  #texte-parents {
    position: absolute;
    left: 29.24%;
    right: 51.46%;
    top: 13.37%;
    bottom: 83.52%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #ligne2 {
    position: absolute;
    left: 29.24%;
    right: 51.46%;
    top: 18.81%;
    bottom: 81.02%;

    background: #333333;
  }
  #texte-pro {
    position: absolute;
    left: 51.6%;
    right: 29.1%;
    top: 13.37%;
    bottom: 83.52%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #ligne3 {
    position: absolute;
    left: 51.6%;
    right: 29.1%;
    top: 18.81%;
    bottom: 81.02%;

    background: #333333;
  }
  #texte-autres {
    position: absolute;
    left: 73.96%;
    right: 6.74%;
    top: 13.37%;
    bottom: 83.52%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #ligne4 {
    position: absolute;
    left: 73.96%;
    right: 6.74%;
    top: 18.81%;
    bottom: 81.02%;

    background: #333333;
  }
  #m-l {
    height: 49.0150146484375px;
    width: 1680px;
    left: 0px;
    top: 662px;
    border-radius: 0px;

    background: #2871B7;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 93.11%;
    bottom: 0%;
  }
  #textem-l {
    height: 22.17340087890625px;
    width: 1680px;
    left: 0px;
    /* top: 676.00439453125px; */
    border-radius: nullpx;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.08%;
    bottom: 1.81%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #D8F2FF;
  }
  #texte-enchantes {
    position: absolute;
    left: 6.81%;
    right: 76.32%;
    top: 21.57%;
    bottom: 75.15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #CD5A83;

  }
  #texte1 {
    position: absolute;
    left: 6.81%;
    right: 76.32%;
    top: 28.81%;
    bottom: 68.07%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #texte2 {
    position: absolute;
    left: 29.24%;
    right: 53.96%;
    top: 21.57%;
    bottom: 75.15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #texte3 {
    position: absolute;
    left: 51.6%;
    right: 31.53%;
    top: 21.57%;
    bottom: 75.15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }
  #texte4 {
    position: absolute;
    left: 73.96%;
    right: 9.1%;
    top: 21.57%;
    bottom: 75.15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
  }